{% extends 'base.html' %}
{% load groggytags %}

{% block title %}GROGGS{% endblock %}

{% block content %}

<h1>GROGGS index</h1>

<table class="table table-hover table-sm groggs-index rounded container">
        <thead>
                <th scope="col">Itemid</th>
                <th scope="col">Subject</th>
                <th scope="col">Updated</th>
        </thead>
        <tbody>
                {% for item in items %}
                <tr class="{% seen user item %}">
                        <th scope="row"><a href="/{{ item.slug }}">{{ item.slug }}</a></th>
                        <td><a href="/{{ item.slug }}">{{ item.title | safe }}</a></td>
                        <td>{{ item.updated | date:"d-M-y H:i" }} UTC</td>
                </tr>
                {% empty %}
                <tr>
                        <th scope="row">none</th>
                        <td>There are no items to show.</td>
                </tr>
                {% endfor %}
        </tbody>
</table>

{% endblock %}
