{% extends 'base.html' %}
{% load groggytags %}

{% block title %}{{ item }} &mdash; GROGGS{% endblock %}

{% block content %}

<h1>{{ item }}</h1>

{% if prev %}<div class="entry rounded container col-md-10 offset-md-1 special-entry">Continued from:
        <a href="/{{prev.slug}}" class="item-link">{{ prev }}</a></div>{% endif %}
{% for entry in entries  %}
<div class="entry rounded container col-md-10 offset-md-1">
        <div class="poster rounded">{{entry.grogname | safe}} (<span class="username">{{entry.poster}}</span>)
        <span class="entry-date float-right">{{ entry.date | date:"d-M-y H:i" }} UTC</span></div>
        <div class="content">{{entry.content | markdown }}</div>
</div>
{% endfor %}

{% if next %}<div class="entry rounded container col-md-10 offset-md-1 special-entry">Continued in:
        <a href="/{{next.slug}}" class="item-link">{{ next }}</a></div>{% endif %}

{% if form %}
<h2>Reply</h2>
{% if full %}<div class="entry rounded container col-md-10 offset-md-1 special-entry">This item is full.
        If you reply here, I will create a new item, and link it from this one.
    </div>{% endif %}

<div class="entry rounded container col-md-10 offset-md-1 response reply">
	<form method="POST">
		{% csrf_token %}

        {% for field in form %}
        <div class="form-group">
                {{ field.label_tag }}
                {{ field.errors }}
                {{ field }}
        </div>

        {% endfor %}

		<button class="btn btn-primary" type="submit">Submit</button>

	</form>
</div>
{% endif %}

{% endblock %}
