{% extends 'base.html' %}

{% block title %}Log in - GROGGS{% endblock %}

{% block content %} 

<div class="container py-5">
	<h1>Log in</h1>

	<form method="POST">
		{% csrf_token %}

        {% for field in form %}
        <div class="form-group">
                {{ field.label_tag }}
                {{ field.errors }}
                {{ field }}
        </div>

        {% endfor %}

		<button class="btn btn-primary" type="submit">Log in</button>
        <input type="hidden" name="next" value="{{ next }}">

	</form>
	<p class="text-center">If you don't have an account, <a href="/register">register</a> instead.</p>
</div>

{% endblock %}
