{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Change password - GROGGS{% endblock %}

{% block content %} 

	<h1>Change password</h1>

<div class="entry rounded container col-md-10 offset-md-1 response changepassword">
	<form method="POST">
		{% csrf_token %}

        {% for field in form %}
        <div class="form-group">
                {{ field.label_tag }}
                {{ field.errors }}
                {{ field|attr:"class:form-control" }}
        </div>

        {% endfor %}

		<button class="btn btn-primary" type="submit">Change password</button>
        <input type="hidden" name="next" value="{{ next }}">

	</form>
</div>

{% endblock %}
