{% extends 'base.html' %}

{% block title %}Your profile - GROGGS{% endblock %}

{% block content %} 

{% load crispy_forms_tags %}         

	<h1>Your profile</h1>
<div class="entry rounded container col-md-10 offset-md-1 response profile">
	<form method="POST">
		{% csrf_token %}

        {% for field in form %}
        <div class="form-group">
                {{ field.label_tag }}
                {{ field.errors }}
                {{ field }}
        </div>

        {% endfor %}

		<button class="btn btn-primary" type="submit">Submit</button>

	</form>
</div>

{% endblock %}
