{% extends 'base.html' %}

{% block title %}Register for GROGGS{% endblock %}

{% block content %} 

{% load crispy_forms_tags %}         

<div class="container py-5">
	<h1>Register</h1>
	<form method="POST">
		{% csrf_token %}
		{{ register_form|crispy }}                    
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="/login">log in</a> instead.</p>
</div>

{% endblock %}
