{% extends 'base.html' %}

{% block title %}GROGGS{% endblock %}

{% block content %}
<h1>GROGGS</h1>
<div class="entry rounded container col-md-10 offset-md-1">
        <div class="content">
<p>
GROGGS is a discussion board system. It aims to enable users to discuss a wide variety of subjects, ranging from computing to serious social and political issues. Humour, poetry, advertisements and advice are also welcome; in fact we welcome anything which is likely to be of interest.
</p>

<p>
GROGGS is different from Usenet news in a number of ways. Its concept of items provides much stronger threading than news has. Its centralised nature means that quoting of text is unnecessary and the format encourages well-thought-out replies rather than one-liners. Perhaps most importantly, there are a set of rules and editors to enforce them; this ensures a higher signal-to-noise ratio in serious items.
</p>

<p>
This implementation replaces the Unix version of GROGGS, which closed on August 25th 2020. That version, in turn, replaced the original Phoenix GROGGS, which closed on September 1st 1995.
</p>
        </div>
</div>

{% endblock %}
