html {
  position: relative;
  min-height: 100%;
  font-size: 14pt;
}

main {
        font-size: 16pt;
}

@font-face {
        font-family: "Bedstead";
        src: url("/static/bedstead.otf");
}

@font-face {
        font-family: "Bedstead Condensed";
        src: url("/static/bedstead-ultracondensed.otf");
}

body {
  padding-top: 4rem;
  color: #d3ffed;
  background-color: #333;
  font-family: "Bedstead";
}

h1 {
        font-family: "Bedstead Condensed";
        font-size: 42pt;
        text-align: center;
        font-weight: bolder;
}

h2 {
        text-align: center;
        font-size: 14pt;
}

.bg-light {
  background-color: #d3ffed !important;
}

.entry, .groggs-index {
        background-color: #d3ffed;
        color: #000;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        margin-bottom: 1em;
        font-size: 16pt;
}

.poster, thead {
        background-color: #000;
        color: #d3ffed;
        overflow: hidden;
}

.entry > div {
        padding-left: 15px;
        padding-right: 15px;
}

.username {
        font-weight: bold;
}

.response div {
        padding-left: 15px;
        padding-right: 15px;
}

.response input, .response textarea {
        color: #000;
}

.groggs-index a:link, .groggs-index a:hover, .groggs-index a:visited {
        color: inherit;
        text-decoration: none;
}

.seen {
        color: #777;
}

.special-entry {
        background-color: #000;
        color: #d3ffed;
        padding-left: 15px;
        padding-top: .5em;
        padding-bottom: .5em;
}

a.item-link:link, a.item-link:hover, a.item-link:visited {
        color: inherit;
}

.entry a:link, .entry a:hover, .entry a:visited {
        text-decoration: underline;
        color: #777;
}

.entry-date {
        color: #777;
}
